<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/Testing-14/testing14-selenium-capstone/src/test/java/testcase/ui/auth/HomeTest.java"><classes><class name="testcase.ui.auth.HomeTest"><methods><include name="TC_01_VerifyWelcomeTextbox"/><include name="TC_02_VerifyVlearningText"/><include name="TC_03_VerifyBanner"/><include name="TC_04_VerifyStartButton"/><include name="TC_05_ClickStartButton"/><include name="TC_10_VerifyCourseBlock"/><include name="TC_11_VerifyRoadMap"/><include name="TC_12_VerifyTeacher"/><include name="TC_13_VerifyCertificate"/><include name="TC_27_VerifyCourseList"/></methods></class></classes></test></suite>